{% extends 'base.html.twig' %}

{% block title %}Mes Produits
{% endblock %}


{% block body %}
	
		<div class="container mt-4">
			<h1>
				Mes Produits
			</h1>

            <div class="count mt-4"> 
            </div>

			{% for produit in produits %}
				<div>
					<p>{{ produit.name}}</p>

				{% endfor %}
			</div>
    <h4> Il n'y a pas de produits </h4>
{% endblock %}
